services:
  web:
    build:  #dockerfile is inside the same directory
      context: .
    container_name: ecommerce_app
    ports:
     - 8000:8000 #port mapping
    volumes:
     - .:/app #when any files are changed on the source folder it is going to be updated the new build one
    depends_on:
       db:
         condition: service_healthy #specifies that a dependency is expected to be "healthy", which is defined inside the healthcheck
         restart: true #the web restarts if the dependency is not running
    env_file:
     - .env     
  db:
    image: postgres:17
    container_name: postgres_db
    volumes:
     - postgres_db:/var/lib/postgresql/data/ #is where the database's data are stored, makes the data available when container starts
    environment:
       POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
       POSTGRES_DB: ${POSTGRES_DB}
       POSTGRES_USER: ${POSTGRES_USER}
    healthcheck: #when this is validated, services that depend on this service start, only then and then
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]  
      interval: 10s
      retries: 5
  celery:
    build: .
    command: celery -A EcommerceApi worker --loglevel=info
    volumes:
      - .:/code
    depends_on:
      - web
      - rabbitmq
  rabbitmq:
   image: rabbitmq:3-management
   ports: 
     - "5672:5672" #broker port, used by Celery to communicate with RabbitMQ
     - "15672:15672" #management UI
volumes:
  postgres_db:     