services:
  web:
    build:  #dockerfile is inside the same directory
      context: .
    container_name: ecommerce_app
    ports:
     - 8000:8000 #port mapping
    volumes:
     - .:/app #when any files are changed on the source folder it is going to be updated the new build one
