services:
  web:
    build:  #dockerfile is inside the same directory
      context: .
    container_name: ecommerce_app
    ports:
     - 8000:8000 #port mapping
    volumes:
     - .:/app #when any files are changed on the source folder it is going to be updated the new build one
    depends_on:
      - db:
         condition: service_healthy #specifies that a dependency is expected to be "healthy", which is defined inside the healthcheck
         restart: true #the web restarts if the dependency is not running
  db:
    image: postgres:17
    container_name: postgres_db
    volumes:
     - postgres_db:/var/lib/postgresql/data/ #is where the database's data are stored, makes the data available when container starts
    environment:
      - POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      - POSTGRES_DB: ${POSTGRES_DB}
      - POSTGRES_USER: ${POSTGRES_USER}
    healthcheck: #when this is validated, services that depend on this service start, only then and then
     test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]  
     interval: 1m30s
     timeout: 30s
     retries: 5
     start_period: 30s
volumes:
  postgres_db:     